<form method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="name">Quote Name</label>
        <input type="text" class="form-control" id="name" name="name">
    </div>
    <div class="form-group">
        <label for="file">Upload File</label>
        <input type="file" class="form-control" id="file" name="file">
        <small id="fileHelp" class="form-text text-muted">Formats: mp3, wav, opus, ogg, flac</small>
    </div>
    <input type="submit" class="btn btn-primary" value="Upload" />
</form>