@model QuoteBotWeb.Models.Home.IndexViewModel;
@{
    ViewData["Title"] = "Home Page";

}

<div class="text-center">
    <h1 class="display-4">Quote Bot</h1>
    <p><a href="https://discord.com/api/oauth2/authorize?client_id=670123207742980108&scope=bot">Invite Quote Bot To Your Discord Server</a></p>@*Switch out client id for value from viewmodel*@
</div>
