@model QuoteBotWeb.Models.Guild.IndexViewModel

<div class="container">
    @foreach (var guild in Model.Guilds)
    {
        var imageUrl = $"https://cdn.discordapp.com/icons/{guild.Id}/{guild.Icon}.png";
        var categoriesUrl = $"/Guild/{guild.Id}/Categories";
        var quotesUrl = $"/Guild/{guild.Id}/Quotes";
        <div class="row">
            <div class="col">
                <img src="@imageUrl" />
            </div>
            <div class="col">@guild.Name</div>
            <div class="col">
                <a href="@categoriesUrl" class="btn btn-primary">Categories</a>
            </div>
            <div class="col">
                <a href="@quotesUrl" class="btn btn-primary">Quotes</a>
            </div>
        </div>
}
</div>